<!DOCTYPE html>
<html lang="en" ng-app='employeeApp'>
<head>
  <title>Employee List</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
  <main ng-controller = "EmployeeController">
    <h3>Employees</h3>
    <br />
    <form>
      <label ng-repeat="(name, currency) in currencies track by name">
        <input type="radio" ng-model="$parent.salaryFormat" ng-value="currency" name="currency">
        {{name}}
      </label><br/>
    </form>
    <label>Filter by employee's name: </label>
    <input ng-model="search.name"></input>
    <table class = "table table-bordered table-striped">
      <tr>
        <th>Name</th>
        <th>ID</th>
        <th>User Name</th>
        <th>DOB</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Salary</th>
        <th>Position</th>
        <th></th>
        <th></th>
      </tr>
      <tr ng-repeat = "employee in employees | filter: {name: search.name} | orderBy: '_id'">
        <td>{{employee.name}}</td>
        <td>{{employee._id}}</td>
        <td>{{employee.username}}</td>
        <td>{{employee.DOB}}</td>
        <td>{{employee.address}}</td>
        <td>{{employee.phone}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.salary | moneyExchange:salaryFormat}}</td>
        <td>{{employee.position}}</td>
        <td ng-click = "edit(employee)"><a>Edit</a></td>
        <td ng-click = "delete(employee)"><a>Delete</a></td>
      </tr>
    </table>
    <!--POST-->
      <p ng-show = "badRequest" class="text-center"><mark>{{badRequest}}</mark></p>
      <employee-edit></employee-edit>
    <!--DELETE-->
    <h3 ng-show = "deleteConfirmation">{{deleteConfirmation}}</h3>
    <div ng-show = "deletedEmployee">
      <table class = "table table-bordered">
      <tr class="danger">
        <th>Name</th>
        <th>ID</th>
        <th>User Name</th>
        <th>DOB</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Salary</th>
        <th>Position</th>
      </tr>
      <tr >
        <td>{{deletedEmployee.name}}</td>
        <td>{{deletedEmployee._id}}</td>
        <td>{{deletedEmployee.username}}</td>
        <td>{{deletedEmployee.DOB}}</td>
        <td>{{deletedEmployee.address}}</td>
        <td>{{deletedEmployee.phone}}</td>
        <td>{{deletedEmployee.email}}</td>
        <td>{{deletedEmployee.salary}}</td>
        <td>{{deletedEmployee.position}}</td>
      </tr>
    </table>
    </div>
  </main>
</body>
</html>
