<!DOCTYPE html>
<html lang="en" ng-app='employeeApp'>
<head>
  <title>Employee List</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
  <main ng-controller = "EmployeeController">
    <h3>Employees</h3>
    <br />
    <form>
      <label ng-repeat="(name, currency) in currencies track by name">
        <input type="radio" ng-model="$parent.salaryFormat" ng-value="currency" name="currency">
        {{name}}
      </label><br/>
    </form>
    <label>Filter by employee's name: </label>
    <input ng-model="search.name"></input>
    <table class = "table table-bordered table-striped">
      <tr>
        <th>Name</th>
        <th>ID</th>
        <th>User Name</th>
        <th>DOB</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Salary</th>
        <th>Position</th>
        <th></th>
        <th></th>
      </tr>
      <tr ng-repeat = "employee in employees | filter: {name: search.name} | orderBy: '_id'">
        <td>{{employee.name}}</td>
        <td>{{employee._id}}</td>
        <td>{{employee.username}}</td>
        <td>{{employee.DOB}}</td>
        <td>{{employee.address}}</td>
        <td>{{employee.phone}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.salary | moneyExchange:salaryFormat}}</td>
        <td>{{employee.position}}</td>
        <td ng-click = "edit(employee)"><a>Edit</a></td>
        <td ng-click = "delete(employee)"><a>Delete</a></td>
      </tr>
    </table>
    <!--POST-->
      <p ng-show = "badRequest" class="text-center"><mark>{{badRequest}}</mark></p>
      <form name = "myForm" class = "form-horizontal">

        <label class="col-sm-2 control-label">Name: </label>
        <div class="col-sm-10">
          <input  name = "myName"
                  ng-model = "newEmployee.name"
                  required
                  ng-pattern='/\D+/'
                  ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
                  type="text" class = "form-control">
          <div ng-messages="myForm.myName.$error" ng-if="myForm.myName.$dirty" role="alert">
            <div ng-message="required">Name is required</div>
            <div ng-message="pattern">Name can only contain letters and space</div>
          </div>
        </div>

        <label class="col-sm-2 control-label">ID: </label>
        <div class="col-sm-10">
          <input  name = "myId"
                  ng-model = "newEmployee._id" ng-readonly="disable"
                  required
                  ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
                  ng-pattern='/^\d+$/'
                  type="text" class = "form-control">
          <div ng-messages="myForm.myId.$error" ng-if="myForm.myId.$dirty" role="alert">
            <div ng-message="required">ID is required</div>
            <div ng-message="pattern">ID has to be a whole number</div>
          </div>
        </div>

        <label class="col-sm-2 control-label">Username: </label>
        <div class="col-sm-10">
          <input  name="myUsername"
                  ng-model = "newEmployee.username"
                  required
                  ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
                  type="text" class = "form-control">
          <div ng-messages="myForm.myUsername.$error" ng-if="myForm.myUsername.$dirty" role="alert">
            <div ng-message="required">Username is required</div>
          </div>
        </div>

        <label class="col-sm-2 control-label">DOB: </label>
        <div class="col-sm-10">
          <input  name = "myDOB"
                  ng-model = "newEmployee.DOB"
                  required
                  ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
                  type="text" class = "form-control">
          <div ng-messages="myForm.myDOB.$error" ng-if="myForm.myDOB.$dirty" role="alert">
            <div ng-message="required">Day of birth is required</div>
          </div>
        </div>

        <label class="col-sm-2 control-label">Address: </label>
        <div class="col-sm-10">
          <input  name = "myAddress"
                  ng-model = "newEmployee.address"
                  required
                  minlength = "10"
                  ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
                  type="text" class = "form-control">
          <div ng-messages="myForm.myAddress.$error" ng-if="myForm.myAddress.$dirty" role="alert">
            <div ng-message="required">Address is required</div>
            <div ng-message = "minlength">Address is too short</div>
          </div>
        </div>

        <label class="col-sm-2 control-label">Phone: </label>
        <div class="col-sm-10">
          <input  name = "myPhone"
                  ng-model = "newEmployee.phone"
                  required
                  ng-pattern = "/[0-9]{3}-[0-9]{3}-[0-9]{4}/"
                  ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
                  type="text" class = "form-control">
          <div ng-messages="myForm.myPhone.$error" ng-if="myForm.myPhone.$dirty" role="alert">
            <div ng-message="required">Phone number is required</div>
            <div ng-message = "pattern">Phone number has to be in the form 555-555-5555</div>
          </div>
        </div>

        <label class="col-sm-2 control-label">Email: </label>
        <div class="col-sm-10">
          <input  name = "myEmail"
                  type="email"
                  ng-model = "newEmployee.email"
                  required
                  ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
                  type="text" class = "form-control">
          <div ng-messages="myForm.myEmail.$error" ng-if="myForm.myEmail.$dirty" role="alert">
            <div ng-message="required">Email is required</div>
          </div>
        </div>

        <label class="col-sm-2 control-label">Salary: </label>
        <div class="col-sm-10">
          <input  name = "mySalary"
                  type = "number"
                  ng-model = "newEmployee.salary"
                  required
                  ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
                  type="text" class = "form-control">
          <div ng-messages="myForm.mySalary.$error" ng-if="myForm.mySalary.$dirty" role="alert">
            <div ng-message="required">Salary is required</div>
          </div>
        </div>

        <label class="col-sm-2 control-label">Position: </label>
        <div class="col-sm-10">
          <input  name = "myPosition"
                  ng-model = "newEmployee.position"
                  required
                  ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
                  type="text" class = "form-control">
          <div ng-messages="myForm.myPosition.$error" ng-if="myForm.myPosition.$dirty" role="alert">
            <div ng-message="required">Position is required</div>
          </div>

        </div>
        <div class="col-sm-offset-2 col-sm-10">
          <button ng-show = "!editEmployee" ng-click = "addEmployee()" type='submit' class="btn btn-success">ADD</button>
          <button ng-show = "editEmployee" ng-click = "editSelectedEmployee()" type='submit' class="btn btn-danger">EDIT</button>
          <button ng-show = "editEmployee" ng-click = "cancelEdit()"  class="btn btn-warning">CANCEL</button>
        </div>
      </form>
    <!--DELETE-->
    <h3 ng-show = "deleteConfirmation">{{deleteConfirmation}}</h3>
    <div ng-show = "deletedEmployee">
      <table class = "table table-bordered">
      <tr class="danger">
        <th>Name</th>
        <th>ID</th>
        <th>User Name</th>
        <th>DOB</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Salary</th>
        <th>Position</th>
      </tr>
      <tr >
        <td>{{deletedEmployee.name}}</td>
        <td>{{deletedEmployee._id}}</td>
        <td>{{deletedEmployee.username}}</td>
        <td>{{deletedEmployee.DOB}}</td>
        <td>{{deletedEmployee.address}}</td>
        <td>{{deletedEmployee.phone}}</td>
        <td>{{deletedEmployee.email}}</td>
        <td>{{deletedEmployee.salary}}</td>
        <td>{{deletedEmployee.position}}</td>
      </tr>
    </table>
    </div>
  </main>
</body>
</html>
