@import 'style-assets';
@import 'base-rules';
@import 'layout-rules';
@import 'theme-rules';
/*  .header {
    background: url(img/mac5.jpg) center;
    background-size: 100%;

    h1 {
      font-family: 'Dancing Script', cursive;
      font-size: $banner-font-size-lg;
      color: $latte-color;
    }
  }*/
