<table class = "table table-bordered">
  <tr class="danger">
    <th>Name</th>
    <th>ID</th>
    <th>User Name</th>
    <th>DOB</th>
    <th>Address</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Salary</th>
    <th>Position</th>
  </tr>
  <tr >
    <td>{{deletedEmployee.name}}</td>
    <td>{{deletedEmployee._id}}</td>
    <td>{{deletedEmployee.username}}</td>
    <td>{{deletedEmployee.DOB}}</td>
    <td>{{deletedEmployee.address}}</td>
    <td>{{deletedEmployee.phone}}</td>
    <td>{{deletedEmployee.email}}</td>
    <td>{{deletedEmployee.salary}}</td>
    <td>{{deletedEmployee.position}}</td>
  </tr>
</table>

