@import 'style-assets';
@import 'mix-ins';

/******SCREEN <= 767PX******/
@media only screen and (max-width: 767px){
  .navbar {
    margin-bottom: 0;
    padding: 5px 0;
  }
  .navbar-inner > .container {
    padding: 5px 10px;
  }
}

/******SCREEN >= 767PX******/
@include mquery(xm) {
  .mobile-nav {
    display: none;
  }
}
