@import 'mix-ins';

/******SCREEN <= 768PX******/
@media only screen and (max-width: 767px) {
  .header {
    background: url(img/mac5.jpg) center;
    background-size: cover;

    h1 {
      font-family: 'Dancing Script', cursive;
      font-size: $banner-font-size-xm;
      color: lighten($latte-color, 20%);
    }
  }
}
